export PROJECT_NAME="my-app"
export INSTANCE_ID=$(pwd | sha1sum | awk '{print $1}' | cut -c 1-12)
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}

export MY_APP_ADMIN_TOKEN="change-me-to-a-random-64-hex-token"

export AUTHELIA_ISSUER=https://127.0.0.1:9091
export AUTHELIA_CLIENT_ID=my-app
export AUTHELIA_CLIENT_SECRET=client-secret-password
export NODE_TLS_REJECT_UNAUTHORIZED=0
